main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  padding: 50px;
  padding-bottom: 120px;
} 

.user-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.title {
    font-size: 2rem;
}
